/*css nav du haut*/
.titre{
	font-weight: bold;
}
#navbar{
	background-color: black;
}
#navbar ul li a{
	color: white;
	font-size: 11px;
}
#navbar ul li a:hover{
	background-color: green;
}
#navbar a{
	color: white;
}

.faaa{
	padding-top: 20px;
	margin-left: 13px;
	color:white;

}
.seach{
	background-color: green;
	border: none;
	height: 56px;
	width: 50px;
	border-radius:0px;
}

/*.faaa:hover{
	background-color: green;

}*/
/*css sidenav*/

.sidenav {
	background-color: black;
	
}
.sidenav h5,ul li a{
	

}
.sidenav ul li a{
	color: white;
	font-size: 12px;

}
.sidenav ul li a:hover{
	background-color: green;	
	
}
.faa{
	float: right;
}

.photo4{
	width: 162px;
	height: 168px;
}

.recherche{
background-color:rgb(26,26,26);
font-size: 12px;
margin-top: 25px;
margin-bottom: 20px;
height: 20px;
border-bottom: 0.5px solid white;
}
/*css bloc image*/
.image{
	padding-left: 0px;
	padding-right: 0px;
}
img{
	width: 300px;
	height: 200px;
}
.photo{
	background-color: black;
	padding-left: 0px;
	padding-right: 0px;
}



.row{
	margin-top: 50px;
}
h5{
	font-weight: normal;
	font-size: 12px;
}


.side3{
	color: black;
	padding-top: 60px;
	
}
.trait {
	background-color:gray; 
	height:1px;
	border: none;
	}
.grosTrait{
	background-color:black; 
	height:5px;
	border: none;

}
iframe{
	margin-bottom:24px;
	margin-left: 100px;
	margin-top: 24px;
}
footer{
background-color: black;
height: 60px;
padding-top: 10px;
}

.sousTitre{
	font-size: 14px;
	color: white;
}
a{
	color: green;
}
a:hover{
	color: green;
}
.release{
	color: white;
	font-size: 12px;
	padding-top: 40px;
	padding-bottom: 15px;
}
.date{
	font-style: italic;
	font-size: 12px;
	color: white;
	padding-top: 15px;
}.remerciement{
	color:white;
	margin-top: 40px;
}

.fin{
	margin-top: 50px;
	color: white;
	font-size: 12px;
	margin-bottom: 100px;
}
.lienFIN{
	color: white;
}

.photo p{
	font-size: 12px;
}
.col-md-7 p{

	margin-left: 100px;
	margin-right: 100px;
}
iframe{
	width:500px; 
	height:280px;
}
