
.sidenav {
	background-color: black;
}
.sidenav ul li a{
	color: white;
	font-size: 12px;

}
.sidenav ul li a:hover{
	background-color: green;	
	
}
.active{
	background-color: green;
}
.navbar-brand{
	
	color: white;
	
}
img{
	width: 250px;
	height: 250px;
}
.photo{
	background-color: black;
}
.photo4{
	width: 200px;
	height: 200px;
}
footer{
	background-color: black;
	height: 40px;
	margin: 0px;
}
#navbar ul li a{
	color: white;
}
#navbar ul li a:hover{
	background-color: green;
}
#navbar a{
	color: white;
}
.faa{
	float: right;
}
.faaa{
	padding-top: 20px;
}
.row{
	margin-top: 45px;
}
h5{
	font-weight: normal;
	font-size: 12px;
}
.recherche{

}
.seach{
	background-color: green;
	border: none;
}
.side2{
	background-color: black;
	margin-top: -100px;
	height: 900px;
}
.side3{
	color: black;
}
.trait {
	background-color:gray; 
	height:1px;
	border: none;
	}
.grosTrait{
	background-color:black; 
	height:5px;
	border: none;

}
iframe{
	margin-bottom:24px;
	margin-left: 100px;
	margin-top: 24px;
}
footer{
background-color: black;
height: 50px;
padding-top: 10px;
}
